<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Book Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets\css\bootstrap.min.css">
        <link rel="stylesheet" href="assets\css\plugin.css">
        <link rel="stylesheet" href="assets\css\bundle.css">
        <link rel="stylesheet" href="assets\css\style.css">
        <link rel="stylesheet" href="assets\css\responsive.css">
        <script src="assets\js\vendor\modernizr-2.8.3.min.js"></script>
    </head>
    <body>
            <!-- Add your site or application content here -->
            
            <!--pos page start-->
            <div class="pos_page">
                <div class="container">
                   <!--pos page inner-->
                    <div class="pos_page_inner">
                        <!--header area start-->
                            @await Html.PartialAsync("_Header")
                        <!--header area end-->
                <!--pos home section-->
                <div class=" pos_home_section" style="padding-bottom:50px">
                        @RenderBody()
                </div>
                <!--pos home section end-->

                    <!--pos page inner end-->
                </div>
            </div>
            <!--pos page end-->
    <!--footer area start-->
        @await Html.PartialAsync("_Footer")
    <!--footer area end-->
            
		<!-- all js here -->
        <script src="assets\js\vendor\jquery-1.12.0.min.js"></script>
        <script src="assets\js\popper.js"></script>
        <script src="assets\js\bootstrap.min.js"></script>
        <script src="assets\js\ajax-mail.js"></script>
        <script src="assets\js\plugins.js"></script>
        <script src="assets\js\main.js"></script>
        <script src="assets\js\custom.js"></script>
        <script>
            $(document).on('click', '.shopping_cart', function () {
                var mini_cart = $(this).find('.mini_cart');
                mini_cart.toggleClass('show');
                mini_cart = mini_cart.hasClass('show') ? mini_cart.show() : mini_cart.hide();
            });
        </script>
        @await RenderSectionAsync("Scripts",required:false)
    </body>
</html>

